* {
    margin: 0px;
    padding:0px;
}

main {
    display: flex;
    flex-direction: column;
    gap:35px;
}

/* Base header style */
.header {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/* text between search bar */
.header h1 {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: normal;
    font-weight: 700;
    align-self: stretch;
}

.header h1 .text {
  font-size: 19px;
  line-height: normal;
  font-weight: 400;
}

/* end text between search bar */

/* nav menu with image style */
.header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header img {
    height: 20px;
}

.header .menu .logo {
    align-self: center;
}

.header .menu {
    height: 79px;
}

.header .menu ul {
    display: flex;
    list-style-type: none;
    gap: 68px;
}

.header .menu ul li a {
    color: black;
    text-decoration: none;
    padding: 8px 0px;
    transition: all ease-in-out 0.1s;
}

.header .menu ul li a:hover {
    color: var(--main-color);
    border-top:2px solid var(--main-color);    
}


.active {
    color: var(--main-color) !important;
    border-top:2px solid var(--main-color);
}

/* end nav menu with image style */

#search-logement {
    display: flex;
    flex-direction: row;
}

#search-logement .icon-localisation {
    padding:15px 20px 15px;
    background: var(--main-bg-color);
    font-family: "FontAwesome";
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#search-logement .icon-localisation::before {
    /* content: "\f002" */
    content: "\f041";
}

#search-logement input {
    height: 49px;
    width: 100%;
    border:none;
    font-size: 18px;
    border: 1px solid var(--main-bg-color);
}

#search-logement form {
    width:80%;
}

#search-logement form input {
    width: 30%;
}

#search-logement .form-group {
    display: flex;
    flex-direction: row;
}

#search-logement input:focus {
    outline: none;
}

#search-logement input[type="submit"]{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background: var(--main-color);
    font-weight: 700;
    color:white;
    width:132px;
}

#search-logement input::placeholder {
    text-align: center;
    color:black;
    opacity: 1;
    font-size: 18px;
    font-weight: 700;
}

#search-logement input[type="text"] {
    padding: 10px;
}

#search-logement input::target-text {
    color:none;
}

#filtre-logements {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#filtre-logements h3 {
    align-self: center;
}

.filtres-cases {
    display: flex;
    flex-wrap:wrap;
    gap:15px;
}

.filtre-case {
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 19px;
    padding-right:19px;
    padding-top:14px;
    padding-bottom: 14px;
    align-items: center;
    cursor: pointer;
}

.filtre-case p {
    font-weight: 700;
    font-size: 17px;
}

.filtre-case:hover {
    background: var(--blue-light, #DEEBFF);
}

#info-logement {
    display: flex;
    gap: 10px;
}

.circle-info {
    align-self: center;
}

#info-logement p {
    align-self: center;
}


.card-hebergement {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 5px solid var(--white, #FFF);
    width: 30%;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    gap: 10px;
    padding-bottom: 15px;
}

.card-hebergement .description {
    padding-right: 15px;
    padding-left: 15px;
}

.description h3,p{
    margin:0px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#cards-hebergements {
    display: flex;
    flex-direction: row;
    row-gap:30px;
    column-gap:15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.more {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color:black;
}

.card-hebergement img {
  height: 124px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}


.star-hebergement {
    font-family: "FontAwesome";
}

.star-hebergement::before {
    content: "\f005";
}

.star-filled {
    color: var(--main-color);
}

.star-empty {

    color: var(--main-bg-color);
}

.stars {
    display: flex;
}

#activities {
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap:30px;
}

.cities {
    display: flex;
    justify-content: space-between;
    gap:30px;
}

.cities > .card img {

    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.cities .card {
    padding:0px;
}

.cities > .card h3 {
    padding: 20px;
}

footer {
    background: var(--main-bg-color);
}

footer #footer-menu {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#footer-menu li {
     list-style-type: none;
}

#footer-menu > li {
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 30%;
}

#footer-menu li a {
    text-decoration: none;
    color:black;
}

.footer-sub-menu {
    padding: 0px;
    margin: 0px;
}

.footer-sub-menu {
    display: flex;
    flex-direction: column;
    gap:15px;
}

#footer-menu h3 {
    padding: 0px;
    margin: 0px;
}

@media (max-width: 1024px){

    .main-container {
        max-width: 1024px;
    }

    
    #filtre-logements {
        flex-direction: column;
    }

    .cities > .card img {

        height: 200px;
    }

    #search-logement form input {
        width: 40%;
    }

    #filtre-logements h3 {
        align-self: normal;
    }
}

@media (max-width: 890px) {

    
}